<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="pl-PL">

<head>
    <title>Google Z3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheetGoogleMainTags.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV1.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV2.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV3.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV4.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV5.css">
    <link rel="stylesheet" href="ResultStyleSheet.css">
    <link rel="shortcut icon" href="images/iconfinder-icon.svg">
    <script src='jsGoogle.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="cities.js"></script>

</head>

<body>
    <div id="wrappermain" style="height: 100%; width: 100%;">
        <div id="wrapper" class="divwrapper">
            <div class="div1">
                <div class="div1_a">
                    <div class="div1_a_1  dowylaczeniadlaresults" v-bind:class="{ results: isActive }">
                        <div class="div1_a_1_przycisk_gmail">
                            <a class="przycisk_gmail" href="">Gmail</a>
                        </div>
                        <div class="div1_a_1_przycisk_grafika">
                            <a class="przycisk_grafika" href="">Grafika</a>
                        </div>
                    </div>
                    <div id="id_results_div_1" class="div1_a_2" v-bind:class="{ transf_div1: isActive }">
                        <div class="div1_a_2_przycisk_kropki">
                            <a class="przycisk_kropki colorpoints" href="">
                                <svg focusable="flase" viewBox="0 0 24 24">
                                    <path
                                        d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        <a class="przycisk_zaloguj" href="">Zaloguj się</a>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="div2_1">
                    <a href="index.html"><img class="div2_1_image" id="google_image"
                            v-bind:class="{ tranf_zdjGoogle: isActive }" src="images/googleMainGraphic.png"
                            alt="Google"></a>
                </div>
            </div>
            <div class="div3">
                <div id="doprzemieszczeniaform" v-bind:class="{ doprzemieszczeniaformclass: isActive }">
                    <div>
                        <div class="div3_form_1_a" v-bind:class="{ doprzemieszczeniaformclass: isActive }">
                            <div id="div_input_id" class="div3_form_1_a_1">
                                <div class="div3_form_1_a_1_a">
                                    <div class="div3_form_1_a_1_a_lupa" v-bind:class="{ tranf_lupa: isActive }">
                                        <div class="div3_form_1_a_1_a_lupa_1">
                                            <span class="div3_form_1_a_1_a_lupa_1_span" id="spanlupaid"
                                                v-bind:class="{ lupka_transformacja: isActive }">
                                                <svg id="svglupaid" focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="div3_form_1_a_1_a_inputdiv" id="wyszukiwarka">
                                        <input id="input_wyszukiwarki" class="div3_form_1_a_1_a_input"
                                            v-on:input="tranformacja2" v-model="googleSearch" autofocus
                                            autocomplete="off" maxlength="500" type="text" name="search" title="Szukaj"
                                            oninput="f_akt_przycisk_x();" onfocus="funkcja_cieni_inputa(1);"
                                            onblur="funkcja_cieni_inputa(0);" onmouseover="funkcja_cieni_inputa(1);"
                                            onmouseout="funkcja_cieni_inputa(0);" v-on:keyup.enter="szukajvjs" ref="search">
                                    </div>
                                    <div class="div3_form_1_a_1_a_klawiaturadiv">
                                        <div class="div3_form_1_a_1_a_klawiaturadiv2">
                                            <span class="div3_form_1_a_1_a_klawiaturadiv2_span">

                                            </span>
                                        </div>
                                        <div id="przycisk_x_id" class="divprzycisk_x">
                                            <span class="divprzycisk_x_span" role="button" tabindex="0"
                                                v-on:click="wyczyscInput" onclick="funkcja_czyszczenia_inputa();">
                                                <svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span class="kreskaPionowaSpan"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-bind:class="[{ div_lista_m: isActive2 },{ mini_transformacja: isActive2 }]">
                                <div class="wysuwanie_autokompletera"
                                    v-bind:class="{ wysuwanie_autokompletera2: isActive2 }">
                                    <div style="border-top: 1px solid #e8eaed;"></div>
                                    <div class="div_lista_miast" v-for="city in filteredCities" :key="city.name"
                                        z-index="122" v-on:click="podstaw(city.name)">
                                        
                                            <span class="div3_form_1_a_1_a_lupa_1_span" style="margin: 0 5px 0 0; padding: 0 0 2px;">
                                                <svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                                    </path>
                                                </svg>
                                            </span>
                                       
                                        <span class="bold" v-html="wynik_pogrubienia(city.name)"></span>
                                    </div>
                                </div>
                                <div class="div3_form_1_a_2 dowylaczeniadlaresults"
                                    v-bind:class="{ results: isActive }">
                                    <div class="stylebuttons2th">
                                        <div><input class="przycisk1" id="przyciskSzukaj" v-on:click="szukajvjs"
                                                value="Szukaj w Google" aria-label="Szukaj w Google" name="przycisk1"
                                                type="button"></div>
                                        <div><input class="przycisk2" value="Szczęśliwy traf"
                                                aria-label="Szczęśliwy traf" name="przycisk2" type="button"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div4 dowylaczeniadlaresults" v-bind:class="{ results: isActive }"></div>
            <div class="div5 dowylaczeniadlaresults" v-bind:class="{ results: isActive }">
                <div class="div5_1">Polska</div>
                <div class="div5_2">
                    <div class="div5_2_a">
                        <a class="link_div5_2_a"
                            href="https://about.google/?utm_source=google-PL&amp;utm_medium=referral&amp;utm_campaign=hp-footer&amp;fg=1">O
                            nas</a>
                        <a class="link_div5_2_b"
                            href="https://www.google.com/intl/pl_pl/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpafooter&amp;fg=1">Reklamuj
                            się</a>
                        <a class="link_div5_2_c"
                            href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpbfooter&amp;fg=1">Dla
                            firm</a>
                        <a class="link_div5_2_d" href="https://google.com/search/howsearchworks/?fg=1"> Jak działa
                            wyszukiwarka </a>
                    </div>
                    <div class="div5_2_b">
                        <a class="link_div5_2_b"
                            href="https://sustainability.google/intl/pl/commitments-europe/?utm_source=googlehpfooter&amp;utm_medium=housepromos&amp;utm_campaign=bottom-footer&amp;utm_content=">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC"
                                class="listekz" alt="" data-atf="1">
                            <span class="listektresc">Neutralność węglowa od 2007 roku</span>
                        </a>
                    </div>
                    <div class="div5_2_c">
                        <a class="link_div5_2_b_1"
                            href="https://policies.google.com/privacy?hl=pl&amp;fg=1">Prywatność</a>
                        <a class="link_div5_2_b_2" href="https://policies.google.com/terms?hl=pl&amp;fg=1">Warunki</a>
                        <div class="divprzyciskustawienia">
                            <button class="przyciskustawienia">Ustawienia</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- tu nowy div dla wynikow szukania -->
        <div id="resultsSearch" v-bind:class="{ results: !isActive }" v-bind:class="{ visible: !isActive }">
            <div class="div_wyniki_szukania">
                <img src="images/pasekopcji.png"
                    style="height: 80px; width: 700px; position: absolute; top:-100px; left: 170px; z-index:-1">
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://support.google.com<span class="span_cite_2"> › websearch ›
                                answer<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Zobacz <strong>wyniki</strong> z innego konta <strong>Google</strong>. Uwaga: aby wykonać
                            te czynności, musisz zalogować się na konto <strong>Google</strong>. Na telefonie lub
                            tablecie z Androidem otwórz ...</span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://support.google.com<span class="span_cite_2"> › websearch ›
                                answer<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Znajdowanie większej liczby wyników wyszukiwania w Google</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Jeśli chcesz kontynuować wyszukiwanie i zobaczyć te <strong>wyniki</strong>, kliknij link
                            w komunikacie. Wskazówka: <strong>Google</strong> zwykle wyświetla maksymalnie około 40
                            stron​ ...</span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://widoczni.com <span class="span_cite_2"> › blog ›
                                jak-wyszukiwac-w-google<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">14 sposobów wyszukiwania w Google, których 95% z Was nie ...</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Szukanie frazy – zastosowanie cudzysłowu. <strong>Wyniki</strong> wyszukiwania w
                            <strong>Google</strong> konkretnych fraz mogą być bardziej trafne, gdy zastosujemy
                            cudzysłów. Algorytmy ...<br /><img class="gwiazdki" src="images/gwiazdki.png"><span
                                class="span_ocena"> Ocena: 4,2 · ‎329 głosów</span></span>
                    </div>
                    <div class="div_lista_rozwijana_main">
                        <div class="div_lista_rozwijana">
                            <div>Na czym polega zaawansowane wyszukiwanie w Google?</div>
                            <div class="span_strzalka_duza" role="button"><svg focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                </svg></div>
                        </div>
                        <div class="div_lista_rozwijana">
                            <div>Jakich komend użyć do wyszukiwania w Google?</div>
                            <div class="span_strzalka_duza" role="button"><svg focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                </svg></div>

                        </div>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.telepolis.pl<span class="span_cite_2"> › Artykuły › Akcje
                                partnerskie<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Wyszukiwarka Google powie więcej o wynikach wyszukiwania ...</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>2 lut 2021 — Szczegóły <strong>wyników</strong>wyszukiwania w <strong>Google</strong> W
                            polu z informacjami o ... co masz do Wikipedii? Jeśli widzisz <strong>jakiś</strong> błąd,
                            to możesz go poprawić.</span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.google.com <span class="span_cite_2">› howsearchworks ›
                                algorithms<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Jak działa wyszukiwarka Google | Algorytmy wyszukiwania</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Dowiedz się, w <strong>jaki</strong> sposób algorytmy wyszukiwania <strong>Google</strong>
                            znajdują najbardziej trafne <strong>wyniki</strong>za pomocą metod takich jak analiza słów w
                            wyszukiwanym haśle ...</span><br />
                        <span class="span_ocena"> Brakujące: <s>jakiś</s> ‎| Musi zawierać słowo: <span
                                class="niebieski_link_dolny">jakiś</span></span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.pozycjonusz.pl
                            <span class="span_cite_2"> › rodzaje-wynikow-wyszuk...<span id="strzalka_span"><img
                                        role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Rodzaje wyników wyszukiwania Google - ponad 20 przykładów</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>7) Wewnętrzna wyszukiwarka. Rodzaje <strong>wyników</strong>wyszukiwania
                            <strong>Google</strong> wzbogacono <strong>jakiś</strong> czas temu o funkcję wewnętrznej
                            wyszukiwarki. To rozwiązanie, bez ...</span>
                    </div>
                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.empressia.pl <span class="span_cite_2">› blog ›
                                115-rozne-wyniki-w...<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Wyniki wyszukiwań Google – skąd takie rozbieżności?</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>21 lut 2019 — Otóż inaczej będą prezentować się wyniki wyszukiwania po wpisaniu tej samej
                            frazy przez ... <strong>Google</strong> przechwytuje adres IP i za jego pomocą generuje
                            <strong>wyniki</strong>, np. po wpisaniu frazy ... <strong>Jaki</strong> jest koszt
                            pozycjonowania sklepu?<br /><img class="gwiazdki" src="images/gwiazdki.png"><span
                                class="span_ocena"> Ocena: 3,7 · ‎11 głosów</span></span>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script>
        var mainInput = new Vue({
            el: '#wrappermain',
            data: {
                googleSearch: '',
                isActive: false,
                isActive2: false,
                cities: window.cities
            },
            methods: {
                szukajvjs: function () {
                    if (this.googleSearch != '' && !this.isActive) {
                        this.isActive = !this.isActive
                        this.isActive2 = !this.isActive
                    }
                },

                podstaw: function (miasto) {
                    this.googleSearch = miasto
                    this.szukajvjs()
                    this.isActive2 = !this.isActive
                },

                tranformacja2: function () {
                    if (this.googleSearch == '') {
                        this.isActive = false
                        this.isActive2 = false
                    }
                    else if (this.googleSearch != '') {
                        this.isActive2 = true
                    }

                },

                wyczyscInput: function () {
                    this.isActive = false
                    this.googleSearch = ''
                    this.isActive2 = false
                },

                wynik_pogrubienia: function (element1) {
                    slowo = element1.match(RegExp(this.googleSearch, "gi"));
                    zamien = '';
                    slowo.forEach(wynik => {
                        zamien = element1.replace(RegExp(this.googleSearch, "gi"), `<span class="nobold">${element1.match(RegExp(this.googleSearch, "gi"))[0]}</span>`);
                    })
                    return zamien;
                }
            },
            computed:
            {
                filteredCities() {
                    return this.cities.filter((city) => {
                        return city.name.toLowerCase().includes(this.googleSearch.toLowerCase());
                    }).slice(0, 10);
                }
            }
        })

    </script>
</body>

</html>