<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>Google DM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheetGoogleMainTags.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV1.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV2.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV3.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV4.css">
    <link rel="stylesheet" href="stylesheetGoogleDIV5.css">
    <link rel="stylesheet" href="ResultStyleSheet.css">
    <link rel="shortcut icon" href="images/iconfinder-icon.svg">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://pl.allfont.net/allfont.css?fonts=futura-normal" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="cities.js"></script>

</head>

<body>
    <div id="wrappermain" style="height: 100%; width: 100%;" v-on:click="traceniefokusu">
        <div id="wrapper" class="divwrapper" v-on:click="traceniefokusu">
            <div class="div1">
                <div class="div1_a">
                    <div class="div1_a_1  dowylaczeniadlaresults" v-bind:class="{ results: isActive }">
                        <div class="div1_a_1_przycisk_gmail">
                            <a class="przycisk_gmail" href="">Gmail</a>
                        </div>
                        <div class="div1_a_1_przycisk_grafika">
                            <a class="przycisk_grafika" href="">Grafika</a>
                        </div>
                    </div>
                    <div id="id_results_div_1" class="div1_a_2" v-bind:class="{ transf_div1: isActive }">
                        <div class="div1_a_2_przycisk_kropki">
                            <a class="przycisk_kropki colorpoints" href="">
                                <svg focusable="flase" viewBox="0 0 24 24">
                                    <path
                                        d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        <a class="przycisk_zaloguj" href="">Zaloguj się</a>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="div2_1">
                    <a href="index.html"><img class="div2_1_image" id="google_image"
                            v-bind:class="{ tranf_zdjGoogle: isActive }" src="images/googleMainGraphic.png"
                            alt="Google"></a>
                </div>
            </div>
            <div class="div3" id="doprzemieszczeniaform" v-bind:class="{ doprzemieszczeniaformclass: isActive }">


                <div class="div3_form_1_a" v-bind:class="{ doprzemieszczeniaformclass: isActive }">
                    <div id="div_input_id" class="div3_form_1_a_1"
                        v-bind:class="{ zakrzywienie_dwoch_rogow: isActive2, styledynamiczne1: isActive2||isActive5}"
                        @mouseover="mouseoutdivinput(0)" @mouseout="mouseoutdivinput(1)">
                        <div class="div3_form_1_a_1_a">
                            <div class="div3_form_1_a_1_a_lupa" v-bind:class="{ tranf_lupa: isActive }">
                                <div class="div3_form_1_a_1_a_lupa_1">
                                    <span class="div3_form_1_a_1_a_lupa_1_span" id="spanlupaid"
                                        v-bind:class="{ lupka_transformacja: isActive }">
                                        <svg id="svglupaid" focusable="false" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="div3_form_1_a_1_a_inputdiv" id="wyszukiwarka">
                                <input id="input_wyszukiwarki" class="div3_form_1_a_1_a_input"
                                    v-on:input="tranformacja2" v-model="googleSearch" debounce="600" autofocus autocomplete="off"
                                    maxlength="500" type="text" name="search" title="Szukaj"
                                    v-on:keyup.enter="szukajvjs" @keyup.down="dzialanie_strzalka_dol()"
                                    @keyup.up="dzialanie_strzalka_gora()" v-focus ref="poleinputa"
                                    @blur="isActive5 = false" @focus="isActive5 = true">
                            </div>
                            <div class="div3_form_1_a_1_a_klawiaturadiv">
                                <div class="div3_form_1_a_1_a_klawiaturadiv2">
                                    <span class="div3_form_1_a_1_a_klawiaturadiv2_span">

                                    </span>
                                </div>
                                <div id="przycisk_x_id" class="divprzycisk_x" v-if="isActive4">
                                    <span class="divprzycisk_x_span" role="button" tabindex="0"
                                        v-on:click="wyczyscInput">
                                        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path
                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="kreskaPionowaSpan"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-bind:class="[{ div_lista_m: isActive2 },{ mini_transformacja: isActive2 }]">
                        <div class="wysuwanie_autokompletera" v-bind:class="{ wysuwanie_autokompletera2: isActive2 }">
                            <div style="border-top: 1px solid #e8eaed; margin: 0 0 10px 0;"></div>
                            <div class="div_lista_miast" v-for="(city, index) in filteredCities()" :key="city.name"
                                z-index="122" v-on:click="podstaw(city.name)"
                                v-bind:class="{ klasa_podswietlenia_strzalka_dol: isActive3 }"
                                @mouseover="mouseoverdivresults(index)" @mouseout="mouseoutdivresults(index)">

                                <span class="div3_form_1_a_1_a_lupa_1_span"
                                    style="margin: 0 5px 0 0; padding: 0 0 2px;">
                                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                        </path>
                                    </svg>
                                </span>

                                <span class="bold" v-html="wynik_pogrubienia(city.name)"></span>
                            </div>
                        </div>
                        <div class="div3_form_1_a_2 dowylaczeniadlaresults" v-bind:class="{ results: isActive }">
                            <div class="stylebuttons2th">
                                <div><input class="przycisk1" id="przyciskSzukaj" v-on:click="szukajvjs"
                                        value="Szukaj w Google" aria-label="Szukaj w Google" name="przycisk1"
                                        type="button"></div>
                                <div><input class="przycisk2" value="Szczęśliwy traf" aria-label="Szczęśliwy traf"
                                        name="przycisk2" type="button"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="div4 dowylaczeniadlaresults" v-bind:class="{ results: isActive }"></div>
            <div class="div5 dowylaczeniadlaresults" v-bind:class="{ results: isActive }">
                <div class="div5_1">Polska</div>
                <div class="div5_2">
                    <div class="div5_2_a">
                        <a class="link_div5_2_a"
                            href="https://about.google/?utm_source=google-PL&amp;utm_medium=referral&amp;utm_campaign=hp-footer&amp;fg=1">O
                            nas</a>
                        <a class="link_div5_2_b"
                            href="https://www.google.com/intl/pl_pl/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpafooter&amp;fg=1">Reklamuj
                            się</a>
                        <a class="link_div5_2_c"
                            href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpbfooter&amp;fg=1">Dla
                            firm</a>
                        <a class="link_div5_2_d" href="https://google.com/search/howsearchworks/?fg=1"> Jak działa
                            wyszukiwarka </a>
                    </div>
                    <div class="div5_2_b">
                        <a class="link_div5_2_b"
                            href="https://sustainability.google/intl/pl/commitments-europe/?utm_source=googlehpfooter&amp;utm_medium=housepromos&amp;utm_campaign=bottom-footer&amp;utm_content=">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC"
                                class="listekz" alt="" data-atf="1">
                            <span class="listektresc">Neutralność węglowa od 2007 roku</span>
                        </a>
                    </div>
                    <div class="div5_2_c">
                        <a class="link_div5_2_b_1"
                            href="https://policies.google.com/privacy?hl=pl&amp;fg=1">Prywatność</a>
                        <a class="link_div5_2_b_2" href="https://policies.google.com/terms?hl=pl&amp;fg=1">Warunki</a>
                        <div class="divprzyciskustawienia">
                            <button class="przyciskustawienia">Ustawienia</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- tu nowy div dla wynikow szukania -->
        <div id="resultsSearch" v-bind:class="{ results: !isActive, visible: !isActive }">
            <div class="div_wyniki_szukania">
                <div class="pasek_opcji_wyszukiwania">
                    <div class="opcja_wyszukiwania_pasek" style="border-bottom: 3px solid #1a73e8; padding-bottom: 12px; color: #1a73e8 ">
                        <!-- <img src="images/pasekopcji.png" style="z-index:-1"> -->
                        <svg class="spanclass16x16px" focusable="false" viewBox="0 0 24 24">
                            <path fill="#34a853" d="M10 2v2a6 6 0 0 1 6 6h2a8 8 0 0 0-8-8"></path>
                            <path fill="#ea4335" d="M10 4V2a8 8 0 0 0-8 8h2c0-3.3 2.7-6 6-6"></path>
                            <path fill="#fbbc04" d="M4 10H2a8 8 0 0 0 8 8v-2c-3.3 0-6-2.69-6-6"></path>
                            <path fill="#4285f4"
                                d="M22 20.59l-5.69-5.69A7.96 7.96 0 0 0 18 10h-2a6 6 0 0 1-6 6v2c1.85 0 3.52-.64 4.88-1.68l5.69 5.69L22 20.59">
                            </path>
                        </svg>
                        <span>Wszystko</span>

                    </div>
                    <div class="opcja_wyszukiwania_pasek">
                        <svg class="spanclass16x16px" focusable="false" viewBox="0 0 24 24">
                            <path
                                d="M12 11h6v2h-6v-2zm-6 6h12v-2H6v2zm0-4h4V7H6v6zm16-7.22v12.44c0 1.54-1.34 2.78-3 2.78H5c-1.64 0-3-1.25-3-2.78V5.78C2 4.26 3.36 3 5 3h14c1.64 0 3 1.25 3 2.78zM19.99 12V5.78c0-.42-.46-.78-1-.78H5c-.54 0-1 .36-1 .78v12.44c0 .42.46.78 1 .78h14c.54 0 1-.36 1-.78V12zM12 9h6V7h-6v2">
                            </path>
                        </svg>
                        <span>Wiadomości</span>
                    </div>
                    <div class="opcja_wyszukiwania_pasek">
                        <svg class="spanclass16x16px" focusable="false" viewBox="0 0 24 24">
                            <path
                                d="M14 13l4 5H6l4-4 1.79 1.78L14 13zm-6.01-2.99A2 2 0 0 0 8 6a2 2 0 0 0-.01 4.01zM22 5v14a3 3 0 0 1-3 2.99H5c-1.64 0-3-1.36-3-3V5c0-1.64 1.36-3 3-3h14c1.65 0 3 1.36 3 3zm-2.01 0a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h7v-.01h7a1 1 0 0 0 1-1V5">
                            </path>
                        </svg>
                        <span>Grafika</span>
                    </div>
                    <div class="opcja_wyszukiwania_pasek">
                        <svg class="spanclass16x16px" focusable="false" viewBox="0 0 24 24">
                            <path
                                d="M10 16.5l6-4.5-6-4.5v9zM5 20h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1zm14.5 2H5a3 3 0 0 1-3-3V4.4A2.4 2.4 0 0 1 4.4 2h15.2A2.4 2.4 0 0 1 22 4.4v15.1a2.5 2.5 0 0 1-2.5 2.5">
                            </path>
                        </svg>
                        <span>Wideo</span>
                    </div>
                    <div class="opcja_wyszukiwania_pasek">
                        <svg class="spanclass16x16px" focusable="false" viewBox="0 0 16 16">
                            <path
                                d="M7.503 0c3.09 0 5.502 2.487 5.502 5.427 0 2.337-1.13 3.694-2.26 5.05-.454.528-.906 1.13-1.358 1.734-.452.603-.754 1.508-.98 1.96-.226.452-.377.829-.904.829-.528 0-.678-.377-.905-.83-.226-.451-.527-1.356-.98-1.959-.452-.603-.904-1.206-1.356-1.734C3.132 9.121 2 7.764 2 5.427 2 2.487 4.412 0 7.503 0zm0 1.364c-2.283 0-4.14 1.822-4.14 4.063 0 1.843.86 2.873 1.946 4.177.468.547.942 1.178 1.4 1.79.34.452.596.99.794 1.444.198-.455.453-.992.793-1.445.459-.61.931-1.242 1.413-1.803 1.074-1.29 1.933-2.32 1.933-4.163 0-2.24-1.858-4.063-4.139-4.063zm0 2.734a1.33 1.33 0 11-.001 2.658 1.33 1.33 0 010-2.658">
                            </path>
                        </svg>
                        <span>Mapy</span>
                    </div>
                    <div class="opcja_wyszukiwania_pasek">
                        <svg class="spanclass16x16px" focusable="false" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                            </path>
                        </svg>
                        <span>Więcej</span>
                    </div>
                    <div class="opcja_wyszukiwania_pasek opcja2_wyszukiwania_pasek">
                        <span>Narzędzia</span>
                    </div>

                </div>
                <div class="ilewynikow">
                    Około 10 300 000 wyników (<span id="ilesekund">{{ randomNumber }}</span> s)
                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://support.google.com<span class="span_cite_2"> › websearch ›
                                answer<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Zobacz <strong>wyniki</strong> z innego konta <strong>Google</strong>. Uwaga: aby wykonać
                            te czynności, musisz zalogować się na konto <strong>Google</strong>. Na telefonie lub
                            tablecie z Androidem otwórz ...</span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://support.google.com<span class="span_cite_2"> › websearch ›
                                answer<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Znajdowanie większej liczby wyników wyszukiwania w Google</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Jeśli chcesz kontynuować wyszukiwanie i zobaczyć te <strong>wyniki</strong>, kliknij link
                            w komunikacie. Wskazówka: <strong>Google</strong> zwykle wyświetla maksymalnie około 40
                            stron​ ...</span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://widoczni.com <span class="span_cite_2"> › blog ›
                                jak-wyszukiwac-w-google<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">14 sposobów wyszukiwania w Google, których 95% z Was nie ...</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Szukanie frazy – zastosowanie cudzysłowu. <strong>Wyniki</strong> wyszukiwania w
                            <strong>Google</strong> konkretnych fraz mogą być bardziej trafne, gdy zastosujemy
                            cudzysłów. Algorytmy ...<br /><img class="gwiazdki" src="images/gwiazdki.png"><span
                                class="span_ocena"> Ocena: 4,2 · ‎329 głosów</span></span>
                    </div>
                    <div class="div_lista_rozwijana_main">
                        <div class="div_lista_rozwijana">
                            <div>Na czym polega zaawansowane wyszukiwanie w Google?</div>
                            <div class="span_strzalka_duza" role="button"><svg focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                </svg></div>
                        </div>
                        <div class="div_lista_rozwijana">
                            <div>Jakich komend użyć do wyszukiwania w Google?</div>
                            <div class="span_strzalka_duza" role="button"><svg focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                </svg></div>

                        </div>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.telepolis.pl<span class="span_cite_2"> › Artykuły › Akcje
                                partnerskie<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Wyszukiwarka Google powie więcej o wynikach wyszukiwania ...</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>2 lut 2021 — Szczegóły <strong>wyników</strong>wyszukiwania w <strong>Google</strong> W
                            polu z informacjami o ... co masz do Wikipedii? Jeśli widzisz <strong>jakiś</strong> błąd,
                            to możesz go poprawić.</span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.google.com <span class="span_cite_2">› howsearchworks ›
                                algorithms<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Jak działa wyszukiwarka Google | Algorytmy wyszukiwania</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>Dowiedz się, w <strong>jaki</strong> sposób algorytmy wyszukiwania <strong>Google</strong>
                            znajdują najbardziej trafne <strong>wyniki</strong>za pomocą metod takich jak analiza słów w
                            wyszukiwanym haśle ...</span><br />
                        <span class="span_ocena"> Brakujące: <s>jakiś</s> ‎| Musi zawierać słowo: <span
                                class="niebieski_link_dolny">jakiś</span></span>
                    </div>

                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.pozycjonusz.pl
                            <span class="span_cite_2"> › rodzaje-wynikow-wyszuk...<span id="strzalka_span"><img
                                        role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Rodzaje wyników wyszukiwania Google - ponad 20 przykładów</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>7) Wewnętrzna wyszukiwarka. Rodzaje <strong>wyników</strong>wyszukiwania
                            <strong>Google</strong> wzbogacono <strong>jakiś</strong> czas temu o funkcję wewnętrznej
                            wyszukiwarki. To rozwiązanie, bez ...</span>
                    </div>
                </div>
                <div class="div_wynik_szukania">
                    <div class="div_cite_linku_strony">
                        <span class="span_cite_1">https://www.empressia.pl <span class="span_cite_2">› blog ›
                                115-rozne-wyniki-w...<span id="strzalka_span"><img role="button" class="strzalka_dol"
                                        src="images/strzalkaDol.png"></span></span></span>
                    </div>
                    <div class="div_link_wyniku">
                        <a class="a_class" href="">Wyniki wyszukiwań Google – skąd takie rozbieżności?</a>
                    </div>
                    <div class="div_probka_wyniku">
                        <span>21 lut 2019 — Otóż inaczej będą prezentować się wyniki wyszukiwania po wpisaniu tej samej
                            frazy przez ... <strong>Google</strong> przechwytuje adres IP i za jego pomocą generuje
                            <strong>wyniki</strong>, np. po wpisaniu frazy ... <strong>Jaki</strong> jest koszt
                            pozycjonowania sklepu?<br /><img class="gwiazdki" src="images/gwiazdki.png"><span
                                class="span_ocena"> Ocena: 3,7 · ‎11 głosów</span></span>
                    </div>
                </div>
                <div class="div_strona_szukania">
                    <div id="id_strona_szukania" v-for="divlistPage in divslistPage" :key="divlistPage.divID"
                        :style="divlistPage.styleObject">
                        <div>{{ divlistPage.DisplayLetter}}</div>
                        <div :style="divlistPage.styleObject2" role="button" class="div_strona_szukania2">{{
                            divlistPage.DisplayLetter2}}</div>
                    </div>
                </div>


            </div>
            <div class="stopka">
                <div class="stopka1a">
                    <div class="stopka1a1"><span style="font-size: 15px;">Polska</span></div>
                    <div class="stopka1a2">
                        <span id="kropka2"></span><span style="color: #3c4043; font-weight: bold;">30-382, Kraków</span>
                        - Z Twojego adresu internetowego - Użyj dokładnej
                        lokalizacji - Dowiedz się więcej
                    </div>
                </div>
                <div class="stopka2a"><span>Pomoc</span> <span class="stopka2a2">Prześlij opinię</span><span
                        class="stopka2a2">Prywatność</span><span class="stopka2a2">Warunki</span></div>
            </div>

        </div>
    </div>
    <script>

        var mainInput = new Vue({
            el: '#wrappermain',
            data: {
                googleSearch: '',
                isActive: false,
                isActive2: false,
                cities: window.cities,
                isActive3: false,
                isActive4: false,
                isActive5: true,
                fokusinput: true,
                licznik: 0,
                licznik2: 0,
                randomNumber: '',
                divslistPage: [
                    {
                        divID: 0,
                        styleObject: { color: 'royalblue', fontSize: '30px', padding: '0 25px 0 0', display: 'flex', flexDirection: 'column', alignSelf: 'flex-start', cursor: 'pointer', alignItems: 'flex-end', fontFamily: 'arial, sans-serif' },
                        DisplayLetter: "‹",
                        DisplayLetter2: "Poprzednia",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                    },
                    {
                        divID: 1,
                        styleObject: { color: 'royalblue', letterSpacing: '-2px' },
                        DisplayLetter: "G",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: ""
                    },
                    {
                        divID: 2,
                        styleObject: { color: 'red', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "1"
                    },
                    {
                        divID: 3,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "2"
                    },
                    {
                        divID: 4,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "3"
                    },
                    {
                        divID: 5,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "4"
                    },
                    {
                        divID: 6,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "5"
                    },
                    {
                        divID: 7,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "6"
                    },
                    {
                        divID: 8,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "7"
                    },
                    {
                        divID: 9,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "8"
                    },
                    {
                        divID: 10,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "9"
                    },
                    {
                        divID: 11,
                        styleObject: { color: 'rgb(255, 196, 0)', letterSpacing: '-2px' },
                        DisplayLetter: "o",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                        DisplayLetter2: "10"
                    },
                    {
                        divID: 12,
                        styleObject: { color: 'royalblue', letterSpacing: '-2px' },
                        DisplayLetter: "g",
                    },
                    {
                        divID: 13,
                        styleObject: { color: 'mediumseagreen', letterSpacing: '-2px' },
                        DisplayLetter: "l",
                    },
                    {
                        divID: 14,
                        styleObject: { color: 'red', letterSpacing: '-2px' },
                        DisplayLetter: "e",
                    },
                    {
                        divID: 15,
                        styleObject: { color: 'royalblue', fontSize: '30px', padding: '0 0 0 25px', alignSelf: 'flex-start', cursor: 'pointer', fontFamily: 'arial, sans-serif' },
                        DisplayLetter: "›",
                        DisplayLetter2: "Następna",
                        styleObject2: { fontFamily: 'arial, sans-serif' },
                    },
                ]
            },
            directives: {
                focus: {
                    // directive definition
                    inserted: function (el44) {
                        el44.focus()
                    }
                }
            },
            methods: {
                obliczCzas: function () {
                    this.randomNumber = (Math.random()/2).toFixed(2).toString();
                },
                focusInput() {

                    this.$refs.poleinputa.focus();
                },

                mouseoutdivinput(k) {
                    if (k == 1) {
                        if (this.$refs.poleinputa != document.activeElement) {
                            this.isActive5 = false
                        }
                    }
                    else {
                        this.isActive5 = true
                    }

                },
                szukajvjs: function () {
                    this.obliczCzas();
                    var r = document.getElementsByClassName("klasa_podswietlenia_strzalka_dol");
                    if (this.googleSearch != '' && !this.isActive) {
                        if (r.length != 0) {
                            this.googleSearch = r[0].innerText;
                            r[0].classList.remove("klasa_podswietlenia_strzalka_dol");
                        }
                        this.isActive = !this.isActive
                        this.isActive2 = !this.isActive
                        input_wyszukiwarki.blur()
                        this.licznik = 0;
                        

                    }
                    else if (this.googleSearch != '' && this.isActive) {
                        if (r.length != 0) {
                            this.googleSearch = r[0].innerText;
                            r[0].classList.remove("klasa_podswietlenia_strzalka_dol");
                        }
                        this.isActive2 = !this.isActive
                        input_wyszukiwarki.blur()
                        this.licznik = 0;
                        
                    }
                },

                mouseoverdivresults: function (index) {
                    var listamiast = document.getElementsByClassName("div_lista_miast");
                    listamiast[index].classList.add("div_lista_miast2");
                    // this.licznik = index
                },

                mouseoutdivresults: function (index) {
                    var listamiast = document.getElementsByClassName("div_lista_miast");
                    listamiast[index].classList.remove("div_lista_miast2");
                    // this.licznik = 0
                },

                traceniefokusu: function () {
                    this.isActive1 = false
                    this.isActive2 = false
                    this.licznik = 0;
                },

                podstaw: function (miasto) {
                    var listamiast = document.getElementsByClassName("div_lista_miast");
                    for(i = 0; i < listamiast.length; i++){
                        listamiast[i].classList.remove("div_lista_miast2");
                    }
                    
                    this.googleSearch = miasto
                    this.isActive = true
                    this.isActive2 = false
                    this.licznik = 0;
                },

                dzialanie_strzalka_dol: function () {
                    // this.isActive3 = true
                    var listamiast = document.getElementsByClassName("div_lista_miast");
                    var z = listamiast.length;
                    if (this.licznik == 0) {
                        listamiast[this.licznik].classList.add("klasa_podswietlenia_strzalka_dol");
                    }
                    else if (this.licznik == z) {
                        listamiast[0].classList.add("klasa_podswietlenia_strzalka_dol");
                        listamiast[(z - 1)].classList.remove("klasa_podswietlenia_strzalka_dol");
                    }

                    else {
                        listamiast[this.licznik].classList.add("klasa_podswietlenia_strzalka_dol");
                        listamiast[this.licznik - 1].classList.remove("klasa_podswietlenia_strzalka_dol");

                    }

                    // this.googleSearch = listamiast[this.licznik].innerText;
                    if (this.licznik < z) {
                        this.licznik = this.licznik + 1;

                    }
                    else {
                        this.licznik = 1;
                    }
                },

                dzialanie_strzalka_gora: function () {
                    var listamiast = document.getElementsByClassName("div_lista_miast");
                    var z = listamiast.length - 1;
                    var o = true;

                    for (i = 0; i <= z; i++) {
                        if (o = listamiast[i].classList.contains("klasa_podswietlenia_strzalka_dol")) {
                            this.licznik = i;
                            if (this.licznik > 0) {
                                listamiast[(this.licznik - 1)].classList.add("klasa_podswietlenia_strzalka_dol");
                                listamiast[this.licznik].classList.remove("klasa_podswietlenia_strzalka_dol");
                                break;
                            }
                            else {
                                this.licznik = z;
                                listamiast[this.licznik].classList.add("klasa_podswietlenia_strzalka_dol");
                                listamiast[0].classList.remove("klasa_podswietlenia_strzalka_dol");
                                break;
                            }
                        }
                        else {
                            this.licznik = z;
                        }
                    }
                    if (!o) {
                        listamiast[z].classList.add("klasa_podswietlenia_strzalka_dol");
                    }
                },

                tranformacja2: function () {
                    if (this.googleSearch == '') {
                        this.isActive = false
                        this.isActive2 = false
                        this.isActive4 = false
                        this.licznik = 0
                    }
                    else if (this.googleSearch != '') {
                        this.isActive2 = true
                        this.isActive4 = true
                        this.licznik = 0
                    }

                },

                wyczyscInput: function () {
                    this.isActive = false
                    this.isActive2 = false
                    this.isActive4 = false
                    this.licznik = 0;
                    this.googleSearch = ''
                    this.focusInput()

                },

                wynik_pogrubienia: function (element1) {
                    slowo = element1.match(RegExp(this.googleSearch, "gi"))
                    zamien = ''
                    slowo.forEach(wynik => {
                        zamien = element1.replace(RegExp(this.googleSearch, "gi"), `<span class="nobold">${element1.match(RegExp(this.googleSearch, "gi"))[0]}</span>`)
                    })
                    return zamien
                },

                filteredCities() {
                    return this.cities.filter((city) => {
                        return city.name.toLowerCase().includes(this.googleSearch.toLowerCase())
                    }).slice(0, 10)
                },
            },
            // computed:
            // {
            //     filteredCities() {
            //         return this.cities.filter((city) => {
            //             return city.name.toLowerCase().includes(this.googleSearch.toLowerCase())
            //         }).slice(0, 10)
            //     },
            // }
        })

    </script>
</body>

</html>