.results{
    display: none;
}

#wrapper{
    width: 100%;
}

.doprzemieszczeniaformclass{
    position: absolute;
    left: 80px; 
    top: 10px;
    width: 690px;
    max-width: 690px;
}

/* .classDivResults_1{
    display: none;
} */

.lupka_transformacja{
    color:#4285f4; 
    width:24px; 
    height:24px; 
    margin-left: 5px; 
    cursor: pointer;
}

.div_wyniki_szukania{
    font-family: arial,sans-serif;
    font-size: 14px; 
}

.div_wynik_szukania{
    flex-direction: column;
    width: 600px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 180px;
}

.strzalka_dol{
    width: 9px;
    height: 9px;
}

.span_cite_1{
    color: #202124;
}

.span_cite_2{
    color: #5f6368;
}

.div_probka_wyniku{
    word-wrap: break-word;
    color: #4d5156;
    line-height: 1.58;
}

.div_link_wyniku{
    line-height: 1.58;
}

/* .naglowki_odsylacze{
    font-size: 20px;
    line-height: 1.3;
} */

.a_class{
    color: #1a0dab;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.3;
    margin: 6px 0 4px 0;
    font-weight: normal;
    display: inline-block;
}
.a_class:hover{
    text-decoration: underline;
}

#strzalka_span{
    margin-left: 7px;
    cursor: pointer;
}

.gwiazdki{
    height: 13px;
    width: 65px;
}

.span_ocena{
    color: #70757a;
    line-height: 1.58;
}

.div_lista_rozwijana{
    line-height: 20px;
    color: #4d5156;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
}

.div_lista_rozwijana_main{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ebebeb;
    margin-top: 10px;
}

.span_strzalka_duza{
    color: #70757a;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    width: 24px;
}

.niebieski_link_dolny{
    color: #1a0dab;
    cursor: pointer;
}

.niebieski_link_dolny:hover{
    color: #1a0dab;
    cursor: pointer;
    text-decoration: underline;
}

#resultsSearch{
    position: absolute;
    top:85px;
    width: 100%;
}

.transf_div1{
    position: absolute; 
    top: 25px; 
    right: 15px;
}

.tranf_zdjGoogle{
    width:92px; 
    height:30px; 
    margin-left: 5px; 
    cursor: pointer; 
    position: absolute; 
    top: 35px; 
    left: 20px;
}

.tranf_lupa{
    order:122;
}

.visble{
    display: flex;
}

.div_lista_miast{
    display: flex !important;
    flex-direction: row;
    z-index: 122;
    padding: 6px;
    font-family: arial,sans-serif;
    font-size: 16px;
    color: #212121;
    cursor:default;

}

.div_lista_m{
    /* display: none; */
    margin: 5px auto; 
    padding: 5px 0 5px 0; 
    align-self:center;
    background: white;
    /* position: absolute; 
    top:-137px; 
    left: 156px;  */
    z-index:121;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 9px 8px -3px rgba(64,60,67,.24),8px 0 8px -7px rgba(64,60,67,.24),-8px 0 8px -7px rgba(64,60,67,.24);
    width: 100%;
    box-sizing: border-box;
}

.wysuwanie_autokompletera{
    display: none;
}

.mini_transformacja{
    position: relative;
    top: -7px;
}

.wysuwanie_autokompletera2{
    display: block;
}

.nobold {
    font-weight:normal;
}

.bold{
    font-weight:bold;
}

/* .div_lista_miast:hover{
    background: #eee;
} */
.div_lista_miast2{
    background: #eee;
}

/* .input_div_z_autokompleterem{
    border-radius: 24px 24px 0 0;
    
} */

.klasa_podswietlenia_strzalka_dol{
    background: #eee;
}

.zakrzywienie_dwoch_rogow{
    border-radius: 24px 24px 0 0;
    border-bottom: none;
}

.div_strona_szukania{
    margin-left: 180px;
    display: flex; 
    flex-direction: row;
    font-family: 'Futura-Normal', arial;
    font-size: 45px;
    justify-content: center;
    font-weight: normal;
    padding: 25px 0 25px 0;
    box-sizing: border-box;
    width: 600px;
}

.div_strona_szukania2{
    display: flex;
    justify-content: center;
    color: royalblue; 
    font-size: 14px;
    padding: 5px 0 5px 0;
    font-weight: normal;
    cursor: pointer;
    font-family: arial,sans-serif;
}

.div_strona_szukania2:hover{
    text-decoration: underline;
}

.stopka{
    box-sizing: border-box;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    padding: 22px 0 12px 0px;
    width: 100%;
}
.stopka1a{
    border-bottom: 1px solid #dadce0;
    line-height: 15px;
    padding-left: 180px;
    display: flex;
    flex-direction: row;
    

}

.stopka2a{
    padding-left: 180px;
    line-height: 40px;
}

#kropka2{
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
    background: #70757a;
}

.stopka1a1{
    padding: 0 15px 0 0;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}


.stopka1a2{
    padding: 0 0 0 15px;
    margin-bottom: 7px;
    border-left: 1px solid #dadce0;
}

.stopka2a2{
    padding-left: 27px;
}

.pasek_opcji_wyszukiwania{
    display: flex;
    flex-direction: row;
    color: #70757a;
    font-size: 14px;
    font-family: Google Sans,arial,sans-serif;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding: 12px 0 0 165px;
}

.spanclass16x16px{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: #5f6368;
    fill: currentColor;
}

.ilewynikow{
    color: #70757a;
    font-size: 14px;
    padding: 12px 5px 25px 177px;
    font-family: Google Sans,arial,sans-serif;
}

.opcja_wyszukiwania_pasek{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 2px 15px 2px;
    margin: 1px 9px 0px 9px;
    cursor: pointer;
}

.opcja2_wyszukiwania_pasek{
    margin-left: 35px;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    box-sizing: border-box;
}

.opcja2_wyszukiwania_pasek:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transition: all 0.0s;
    background-color: #f8f9fa;
    background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
    border: 1px solid #dadce0;
    color: #202124;
}

@font-face {
    font-family: "Futura-Normal";
    src: url(fonts/futura_normal.ttf) format("truetype");
  }


